<html>
<head>
   <head>
      <title>hackNY s2013</title>
      <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
      <script src="../static/assets/js/test.js"></script>
      <link href="../static/assets/css/bootstrap.css" rel="stylesheet">
      <link href="../static/assets/css/style.css" rel="stylesheet">
   </head>
   <body>
   	<a href="https://github.com/dariajung/hackny-s13"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
   	<center>
   		<a href="/"><img src="../static/assets/imgs/fsq.png"></a>
   		<p>Play notes using keys [a, s, d, f, h, j, k, l]</p>
  		<input id="scriptBox" type="text" onkeypress="return listen(event)" />
  		<p>A musical synthesizer based on the number of people checked into locations near a specified geographical coordinate.</p>
  		<footer><hr>Developed for hacKNY s2013 by Rachel Susser and Daria Jung</hr></footer>
	</center>
   </body>
</html>